body {
  margin: 0 0 0 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4f126e;
  background-position: center;
  background-image: url("./images/background.gif");
  background-repeat: no-repeat;
  background-size: auto 100%;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  margin: 0 0 0 0;
}

.cardContainer {
  height: 280px;
  width: auto;
  margin-left: 60px;
  margin-right: 60px;
}

.cardImage {
  height: 100%;
  width: auto;
}

.generatedCards {
  display: flex;
  position: absolute;
  bottom: 16%;
  left: 50%;
  transform: translateX(-50%);
}
